body {
  font-family: "Courier New", Courier, monospace;
  background-color: #2e3440;
  color: #d8dee9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4c566a;
  padding: 1rem 0;
  text-align: center;
}

header h1,
header h2 {
  margin: 0.5rem 0;
}

header p,
header a {
  color: #d8dee9;
  margin: 0.2rem 0;
}

header a:hover {
  color: #81a1c1;
}

section {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 800px;
  background-color: #3b4252;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section h2 {
  color: #88c0d0;
  border-bottom: 2px solid #88c0d0;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.job,
.education-item,
.container ul li {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #4c566a;
  padding: 0.5rem;
  margin: 0.2rem 0;
}

footer {
  background-color: #4c566a;
  color: #d8dee9;
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}
